{%- spaceless -%}
	{%- set route = app.request.attributes.get('_route') -%}

	<li class="nav-header">{{- 'sidebar.header.navigation' | trans({}, 'CCDNUserProfileBundle') -}}</li>

	{%- if is_granted("ROLE_USER") -%}
		{%- if user is not defined -%}
			<li class="active">
				<a href="{{- path('ccdn_user_profile_show') -}}">
					<i class="icon-white icon-user"></i>
					{{- 'link.view' |trans({}, 'CCDNUserProfileBundle') -}}
				</a>
			</li>
		{%- else -%}
			{%- if app.user.id == user.id -%}
				<li class="active">
					<a href="{{- path('ccdn_user_profile_show') -}}">
						<i class="icon-white icon-user"></i>
						{{- 'link.view' |trans({}, 'CCDNUserProfileBundle') -}}
					</a>
				</li>
			{%- else -%}
				<li>
					<a href="{{- path('ccdn_user_profile_show') -}}">
						<i class="icon-user"></i>
						{{- 'link.view' |trans({}, 'CCDNUserProfileBundle') -}}
					</a>
				</li>

				<li class="divider"></li>

				<li class="active">
					<a href="{{- path('ccdn_user_profile_show_by_id', {'profileId':profile.id}) -}}">
						<i class="icon-white icon-user"></i>
						{{- 'link.view_named' |trans({'%name%': profile.getUsername |title}, 'CCDNUserProfileBundle') |raw -}}
					</a>
				</li>
			{%- endif -%}
		{%- endif -%}
	{%- endif -%}

{%- endspaceless -%}
