{%- spaceless -%}
	{%- set route = app.request.attributes.get('_route') -%}

	<li class="nav-header">{{- 'sidebar.header.navigation' | trans({}, 'CCDNUserUserBundle') -}}</li>
	<li><a href="{{- path(param('ccdn_user_profile.sidebar.members_route')) -}}"><i class="icon-th-list"></i>&nbsp;{{- 'sidebar.link.members' |trans({}, 'CCDNUserMemberBundle') -}}</a></li>
	<li class="divider"></li>

	{%- if is_granted("ROLE_USER") -%}

		<li><a href="{{- path(param('ccdn_user_profile.sidebar.account_route')) -}}"><i class="icon-cog"></i>&nbsp;{{- 'sidebar.link.account.view' |trans({}, 'CCDNUserProfileBundle') -}}</a></li>
		<li class="active"><a href="{{- path('cc_profile_show') -}}"><i class="icon-white icon-user"></i>&nbsp;{{- 'sidebar.link.profile.view' |trans({}, 'CCDNUserProfileBundle') -}}</a></li>

	{%- else -%}

		<li><a rel="nofollow" href="{{- path(param('ccdn_user_profile.sidebar.login_route')) -}}"><i class="icon-user"></i>&nbsp;{{- 'sidebar.link.login' |trans({}, 'CCDNUserProfileBundle') -}}</a></li>
		<li><a rel="nofollow" href="{{- path(param('ccdn_user_profile.sidebar.registration_route')) -}}"><i class="icon-asterisk"></i>&nbsp;{{- 'sidebar.link.register' |trans({}, 'CCDNUserProfileBundle') -}}</a></li>
		<li><a rel="nofollow" href="{{- path(param('ccdn_user_profile.sidebar.reset_route')) -}}"><i class="icon-lock"></i>&nbsp;{{- 'sidebar.link.reset' |trans({}, 'CCDNUserProfileBundle') -}}</a></li>

	{%- endif -%}
{%- endspaceless -%}
