{%- spaceless -%}

	{%- if (profile.getUser() == app.user)
		or is_granted('ROLE_ADMIN')
		or profile.getBio()
	-%}
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row clearfix">
					<div class="col-md-7">
						<h3 class="panel-title">
							{{- 'generic.profile.bio.heading' |trans({}, 'CCDNUserProfileBundle') -}}
						</h3>
					</div>

					<div class="col-md-5 text-right">
						{%- if is_granted('ROLE_USER') -%}
							{%- if profile.getUser() == app.user or is_granted('ROLE_ADMIN') -%}
								<div class="pull-right btn-right">
									<a id="edit_profile[bio]" class="btn btn-default" href="{{- path('ccdn_user_profile_bio_edit', {'userId': user.id}) -}}">
										{{- 'form.button.update' |trans({}, 'CCDNUserProfileBundle') -}}
									</a>
								</div>
							{%- endif -%}
						{%- endif -%}
					</div>
				</div>
			</div>
			<div class="panel-body">
				{%- if profile.getBio -%}
					<blockquote>
						{{- profile.getBio -}}
					</blockqoute>
				{%- else -%}
					{%- if is_granted('ROLE_USER') -%}
						{%- if profile.getUser() == app.user -%}
							<div class="alert alert-warning">
								{{- 'generic.profile.bio.none_owner' | trans({}, 'CCDNUserProfileBundle') -}}
							</div>
						{%- endif -%}
					{%- endif -%}
				{%- endif -%}
			</div>
		</div>
	{%- endif -%}

{%- endspaceless -%}
