{% extends 'CCDNComponentCommonBundle:Layout:layout_body_left.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/ccdncomponentcommon/css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/ccdnuserprofile/js/jquery.profile.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}{{ 'title.profile.edit' | trans({ '%user_name%': user.getUsername }, 'CCDNUserProfileBundle') }}{% endblock %}

{% block sidebar %}
	{% if is_granted('ROLE_MODERATOR') %}
	<div class="common_box_5 bg_header_smoke">
		<div class="common_box_header"><span class="heading_glow">{{ 'sidebar.header.special' | trans({}, 'CCDNComponentCommonBundle') }}</span></div>
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_cp') }}">{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% if is_granted('ROLE_ADMIN') %}
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_admin_forum_cp') }}">{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% endif %}
	</div>
	{% endif %}
	
	<div class="common_box_5 bg_header_smoke">
		<div class="common_box_header"><span class="heading_glow">{{ 'sidebar.header.tools' | trans({}, 'CCDNUserProfileBundle') }}</span></div>
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_user_account_show') }}">{{ 'sidebar.link.account.view' | trans({}, 'CCDNUserProfileBundle') }}</a></div>
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_profile_show') }}">{{ 'sidebar.link.profile.view' | trans({}, 'CCDNUserProfileBundle') }}</a></div>
		{% endif %}
	</div>
{% endblock %}

{% block body %}

{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

<div class="common_box_5 bg_header_smoke">
	<div class="common_box_header">
		<span class="heading_glow">{{ 'title.profile.edit' | trans({ '%user_name%': user.getUsername }, 'CCDNUserProfileBundle') }}</span>
	</div>
	<div class="common_box_panel">
		{% form_theme form theme %}

		<form action="{{ path('cc_profile_edit_by_id', {'user_id': user.getId }) }}" {{ form_enctype(form) }} method="POST">
			{{ form_row(form._token) }}
			<table class="common_list">
				<thead>
					<th style="width: 30%;"></th>
					<th style="width: 70%;"></th>
				</thead>
				<tfoot>
				</tfoot>
				<tbody>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="h_align_right v_align_top"><label class="widget_label">{{ 'form.label.profile.edit.username' |trans({}, 'CCDNUserProfileBundle') }}</label></td>
						<td class="h_align_left v_align_top">{{ user.getUsername }}</td>
					</tr>	
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="h_align_right v_align_top">{{ form_label(form.location, null, { 'label': 'form.label.profile.edit.location' |trans({}, 'CCDNUserProfileBundle') }) }}</td>
						<td class="h_align_left v_align_top">
							{{ form_errors(form.location) }}
							{{ form_widget(form.location) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="h_align_right v_align_top">{{ form_label(form.website, null, { 'label': 'form.label.profile.edit.website' |trans({}, 'CCDNUserProfileBundle') }) }}</td>
						<td class="h_align_left v_align_top">
							{{ form_errors(form.website) }}
							{{ form_widget(form.website) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="h_align_right v_align_top">{{ form_label(form.aim, null, { 'label': 'form.label.profile.edit.aim' |trans({}, 'CCDNUserProfileBundle') }) }}</td>
						<td class="h_align_left v_align_top">
							{{ form_errors(form.aim_is_public) }}
							{{ form_widget(form.aim_is_public) }}{{ form_label(form.aim_is_public, null, { 'attr': {'class': 'checkbox_', 'label': 'form.label.profile.edit.aim_is_public' |trans({}, 'CCDNUserProfileBundle') } }) }}
							<br />
							{{ form_errors(form.aim) }}
							{{ form_widget(form.aim) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="h_align_right v_align_top">{{ form_label(form.msn, null, { 'label': 'form.label.profile.edit.msn' |trans({}, 'CCDNUserProfileBundle') }) }}</td>
						<td class="h_align_left v_align_top">
							{{ form_errors(form.msn_is_public) }}
							{{ form_widget(form.msn_is_public) }}{{ form_label(form.msn_is_public, null, { 'attr': {'class': 'checkbox_', 'label': 'form.label.profile.edit.msn_is_public' |trans({}, 'CCDNUserProfileBundle') } }) }}
							<br />
							{{ form_errors(form.msn) }}
							{{ form_widget(form.msn) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="h_align_right v_align_top">{{ form_label(form.icq, null, { 'label': 'form.label.profile.edit.icq' |trans({}, 'CCDNUserProfileBundle') }) }}</td>
						<td class="h_align_left v_align_top">
							{{ form_errors(form.icq_is_public) }}
							{{ form_widget(form.icq_is_public) }}{{ form_label(form.icq_is_public, null, { 'attr': {'class': 'checkbox_', 'label': 'form.label.profile.edit.icq_is_public' |trans({}, 'CCDNUserProfileBundle') } }) }}
							<br />
							{{ form_errors(form.icq) }}
							{{ form_widget(form.icq) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="h_align_right v_align_top">{{ form_label(form.yahoo, null, { 'label': 'form.label.profile.edit.yahoo'|trans({}, 'CCDNUserProfileBundle') }) }}</td>
						<td class="h_align_left v_align_top">
							{{ form_errors(form.yahoo_is_public) }}
							{{ form_widget(form.yahoo_is_public) }}{{ form_label(form.yahoo_is_public, null, { 'attr': {'class': 'checkbox_', 'label': 'form.label.profile.edit.yahoo_is_public' |trans({}, 'CCDNUserProfileBundle') } }) }}
							<br />
							{{ form_errors(form.yahoo) }}
							{{ form_widget(form.yahoo) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="h_align_right v_align_top">{{ form_label(form.bio, null, { 'label': 'form.label.profile.edit.bio' |trans({}, 'CCDNUserProfileBundle') }) }}</td>
						<td class="h_align_left v_align_top">
							{{ form_errors(form.bio) }}
							{{ form_widget(form.bio) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="h_align_right v_align_top">{{ form_label(form.avatar, null, { 'label': 'form.label.profile.edit.avatar' |trans({}, 'CCDNUserProfileBundle') }) }}</td>
						<td class="h_align_left v_align_top">
							{{ form_errors(form.avatar_is_remote) }}
							{{ form_widget(form.avatar_is_remote) }}
							{{ form_label(form.avatar_is_remote, null, { 'attr': { 'class': 'checkbox_', 'label': 'form.label.profile.edit.avatar_is_remote' |trans({}, 'CCDNUserProfileBundle') }}) }}
							<br />
							{{ form_errors(form.avatar) }}
							{{ form_widget(form.avatar) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="h_align_right v_align_top">{{ form_label(form.signature, null, { 'label': 'form.label.profile.edit.signature' |trans({}, 'CCDNUserProfileBundle') }) }}</td>
						<td class="h_align_left v_align_top">
							{{ form_errors(form.signature) }}
							{{ form_widget(form.signature) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="h_align_centre v_align_middle" colspan="2">
							<input type="submit" value="{{ 'form.button.profile.edit.update' |trans({}, 'CCDNUserProfileBundle') }}" />
					    </td>
					</tr>
				</tbody>
			</table>

		</form>
	</div>
</div>

{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% endblock body %}