{% extends param('ccdn_user_profile.profile.layout_templates.show') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{ 'title.profile' | trans({ '%user_name%': user.getUsername }, 'CCDNUserProfileBundle') }}{% endblock %}

{% block sidebar %}
	{% if is_granted('ROLE_MODERATOR') %}
	<div class="sidebar">
		<div class="sidebar_header"><span class="sidebar_header">{{ 'sidebar.header.special' | trans({}, 'CCDNComponentCommonBundle') }}</span></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_cp') }}">{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% if is_granted('ROLE_ADMIN') %}
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_admin_forum_cp') }}">{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% endif %}
	</div>
	{% endif %}
	
	<div class="sidebar">
		<div class="sidebar_header"><span class="sidebar_header">{{ 'sidebar.header.tools'|trans({}, 'CCDNUserProfileBundle') }}</span></div>
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_user_account_show') }}">{{ 'sidebar.link.account.view'|trans({}, 'CCDNUserProfileBundle') }}</a></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_profile_show') }}">{{ 'sidebar.link.profile.view'|trans({}, 'CCDNUserProfileBundle') }}</a></div>
		{% endif %}
	</div>
{% endblock %}

{% block body %}

{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

<div class="section_wrap_square">
	<div class="section_header">
		<h2>{{ 'title.profile' | trans({ '%user_name%': user.getUsername }, 'CCDNUserProfileBundle') }}</h2>
	</div>
	
	<div class="section_tool_strip">
		<a class="button_link" href="{{ path('cc_message_message_compose_to', {'user_id': user.getId }) }}">{{ 'link.user.message' | trans({}, 'CCDNUserProfileBundle') }}</a>
		{% if app.user.getId == user.getId %}
		<a class="button_link" href="{{ path('cc_profile_edit') }}">{{ 'link.profile.edit'|trans({}, 'CCDNUserProfileBundle') }}</a>
		{% endif %}

		{% if is_granted('ROLE_ADMIN') %}
		<a class="button_link" href="{{ path('cc_admin_user_show', {'user_id': user.getId }) }}">{{ 'link.user.administrate'|trans({}, 'CCDNUserProfileBundle') }}</a>
		{% endif %}
	</div>

	<div class="section_panel bg_item_light">
		<div class="row padding_10">
			<div style="width: auto;" class="column v_align_top h_align_left">
				{% if user.getProfile.getAvatarIsRemote %}
					{% if user.getProfile.getAvatar %}
						<img class="avatar" width="100" height="100" src="{{ user.getProfile.getAvatar }}" alt="avatar">
					{% else %}
						<img class="avatar" width="100" height="100" src="{{ asset('bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif') }}" alt="avatar">
					{% endif %}
				{% else %}
					{% if user.getProfile.getAvatar %}
						{# later on this will reference the avatarBundle asset and append the avatar onto the end #}
						{# e.g: {{ asset('bundles/ccdnuseravatar/images/avatars/') }}{{ post.getCreatedBy.getProfile.getAvatar }} #}
						<img class="avatar" width="100" height="100" src="{{ asset('bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif') }}" alt="avatar">
					{% else %}
						<img class="avatar" width="100" height="100" src="{{ asset('bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif') }}" alt="avatar">
					{% endif %}
				{% endif %}
			</div>

			<div style="width: auto;" class="column v_align_top h_align_left padding_5">
				<div class="row h_align_centre padding_5">
					<a href="{{ path(app.request.attributes.get('_route')) }}">{{ user.getUsername }}</a>
				</div>
				<div class="row h_align_centre padding_5">
					<img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_star.png') }}" alt="icon" 
					><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_star.png') }}" alt="icon" 
					><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_star.png') }}" alt="icon" 
					><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_star.png') }}" alt="icon" 
					><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_star.png') }}" alt="icon">
				</div>
				{#<div class="row h_align_centre padding_5">{{ 'post.user.post_count' | trans({'%post_count%': '50'}, 'CCDNForumForumBundle') }}</div>#}
			</div>
		</div>		
	</div>

	<div class="section_table_panel">
		<table class="common_list">
			<tbody>
				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
					<td class="right" style="width: 30%;"><span class="table_label">{{ 'profile.table.body.username'|trans({}, 'CCDNUserProfileBundle') }}</span></td>
					<td class="left" style="width: 70%;"><span class="table_data">{{ user.getUsername }}</span></td>
				</tr>
				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
					<td class="right"><span class="table_label">{{ 'profile.table.body.member_since'|trans({}, 'CCDNUserProfileBundle') }}</span></td>
					<td class="left"><span class="table_data">{{ user.getRegisteredDate|date("d/m/Y - H:i:s") }}</span></td>
				</tr>

				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
					<td class="right"><span class="table_label">{{ 'profile.table.body.last_logged_in'|trans({}, 'CCDNUserProfileBundle') }}</span></td>
					<td class="left"><span class="table_data">{{ user.getLastLogin|date("d/m/Y - H:i:s") }}</span></td>
				</tr>

				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
					<td class="right"><span class="table_label">{{ 'profile.table.body.location'|trans({}, 'CCDNUserProfileBundle') }}</span></td>
					<td class="left"><span class="table_data">{{ user.getProfile.getLocation }}</span></td>
				</tr>
				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
					<td class="right"><span class="table_label">{{ 'profile.table.body.website'|trans({}, 'CCDNUserProfileBundle') }}</span></td>
					<td class="left"><span class="table_data"><a href="{{ user.getProfile.getWebsite }}" target="_blank">{{ user.getProfile.getWebsite }}</a></span></td>
				</tr>


				{% if user.getProfile.getAimIsPublic %}
				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
					<td class="right"><span class="table_label">{{ 'profile.table.body.aim'|trans({}, 'CCDNUserProfileBundle') }}</span></td>
					<td class="left"><span class="table_data">{{ user.getProfile.getAim }}</span></td>
				</tr>
				{% endif %}

				{% if user.getProfile.getMsnIsPublic %}
				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
					<td class="right"><span class="table_label">{{ 'profile.table.body.msn'|trans({}, 'CCDNUserProfileBundle') }}</span></td>
					<td class="left"><span class="table_data">{{ user.getProfile.getMsn }}</span></td>
				</tr>
				{% endif %}

				{% if user.getProfile.getIcqIsPublic %}
				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
					<td class="right"><span class="table_label">{{ 'profile.table.body.icq'|trans({}, 'CCDNUserProfileBundle') }}</span></td>
					<td class="left"><span class="table_data">{{ user.getProfile.getIcq }}</span></td>
				</tr>
				{% endif %}

				{% if user.getProfile.getYahooIsPublic %}
				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
					<td class="right"><span class="table_label">{{ 'profile.table.body.yahoo'|trans({}, 'CCDNUserProfileBundle') }}</span></td>
					<td class="left"><span class="table_data">{{ user.getProfile.getYahoo }}</span></td>
				</tr>
				{% endif %}

				{% if user.getProfile.getBio or user.getProfile.getSignature %}
				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
					<td class="left" colspan="2">
						<div class="round_box" style="margin-left: 20px !important;">
							<span class="common_body">
								{% if user.getProfile.getBio %}
									{{ user.getProfile.getBio }}<br>
								{% endif %}

								{% if user.getProfile.getSignature %}
									<hr>{{ user.getProfile.getSignature }}
								{% endif %}
							</span>
						</div>
					</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>

{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% endblock body %}