{% extends param('ccdn_user_profile.profile.show.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{- asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') -}}" rel="stylesheet" type="text/css">
	<link href="{{- asset('bundles/ccdncomponentbbcode/css/bbcode.css') -}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{- 'title.profile' | trans({ '%user_name%': user.getUsername |title }, 'CCDNUserProfileBundle') -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
	{%- include 'CCDNUserProfileBundle:Sidebar:sidebar.html.twig' -%}
	
{% endblock %}

{% block body %}

	{%- spaceless -%}
	
	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	<h2>{{- user.getUsername |capitalize -}}</h2>

	<br>
	
	<ul class="nav nav-tabs">
		<li class="active"><a href="{{- path('cc_profile_show') -}}"><i class="icon-user"></i>&nbsp;{{- 'link.profile.overview' | trans({}, 'CCDNUserProfileBundle') -}}</a></li>
	</ul>
	
	<div class="btn-toolbar pull-right">
		{%- if is_granted('ROLE_USER') -%}
			{%- if app.user.getId != user.getId -%}
			<a class="btn btn-primary" href="{{- path('cc_message_message_compose_to', {'user_id': user.getId }) -}}">{{- 'link.user.message' | trans({}, 'CCDNUserProfileBundle') -}}</a>
			
				{%- if is_granted('ROLE_ADMIN') -%}
				<a class="btn btn-primary" href="{{- path('cc_admin_user_show', {'user_id': user.getId }) -}}">{{- 'link.user.administrate'|trans({}, 'CCDNUserProfileBundle') -}}</a>
				{%- endif -%}
			{%- endif -%}
			
			{%- if app.user.getId == user.getId -%}
			<a class="btn btn-primary" href="{{- path('cc_profile_edit') -}}">{{- 'link.profile.edit'|trans({}, 'CCDNUserProfileBundle') -}}</a>
			{%- endif -%}
			
		{%- endif -%}		
	</div>

	<div style="width: auto; margin-bottom:10px;">
		{%- if user.getProfile.getAvatarIsRemote -%}
			{%- if user.getProfile.getAvatar -%}
				<img class="avatar" width="100" height="100" src="{{- user.getProfile.getAvatar -}}" alt="avatar">
			{%- else -%}
				<img class="avatar" width="100" height="100" src="{{- asset('bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif') -}}" alt="avatar">
			{%- endif -%}
		{%- else -%}
			{%- if user.getProfile.getAvatar -%}
				{# later on this will reference the avatarBundle asset and append the avatar onto the end #}
				{# e.g: {{ asset('bundles/ccdnuseravatar/images/avatars/') }}{{ post.getCreatedBy.getProfile.getAvatar }} #}
				<img class="avatar" width="100" height="100" src="{{- asset('bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif') -}}" alt="avatar">
			{%- else -%}
				<img class="avatar" width="100" height="100" src="{{- asset('bundles/ccdncomponentcommon/images/profile/anonymous_avatar.gif') -}}" alt="avatar">
			{%- endif -%}
		{%- endif -%}
	</div>
	
	<br>
	
	<table class="table table-striped table-bordered">
		<tbody>
			<tr class="{{- cycler(['row_odd', 'row_even'], 'cycle') -}}">
				<td class="right" style="width: 30%;">{{- 'profile.table.body.username'|trans({}, 'CCDNUserProfileBundle') -}}</td>
				<td class="left" style="width: 70%;">{{- user.getUsername |title -}}</td>
			</tr>
			<tr class="{{- cycler(['row_odd', 'row_even'], 'cycle') -}}">
				<td class="right">{{- 'profile.table.body.member_since'|trans({}, 'CCDNUserProfileBundle') -}}</td>
				<td class="left">{{- user.getRegisteredDate |date(param('ccdn_user_profile.profile.show.last_login_datetime_format')) -}}</td>
			</tr>

			<tr class="{{- cycler(['row_odd', 'row_even'], 'cycle') -}}">
				<td class="right">{{- 'profile.table.body.last_logged_in'|trans({}, 'CCDNUserProfileBundle') -}}</td>
				<td class="left">{{- user.getLastLogin |date(param('ccdn_user_profile.profile.show.member_since_datetime_format')) -}}</td>
			</tr>

			<tr class="{{- cycler(['row_odd', 'row_even'], 'cycle') -}}">
				<td class="right">{{- 'profile.table.body.location'|trans({}, 'CCDNUserProfileBundle') -}}</td>
				<td class="left">{{- user.getProfile.getLocation -}}</td>
			</tr>
			<tr class="{{- cycler(['row_odd', 'row_even'], 'cycle') -}}">
				<td class="right">{{- 'profile.table.body.website'|trans({}, 'CCDNUserProfileBundle') -}}</td>
				<td class="left"><a href="{{- user.getProfile.getWebsite -}}" target="_blank">{{- user.getProfile.getWebsite -}}</a></td>
			</tr>

			{%- if is_granted('ROLE_USER') -%}
				{%- if user.getProfile.getAimIsPublic -%}
				<tr class="{{- cycler(['row_odd', 'row_even'], 'cycle') -}}">
					<td class="right">{{- 'profile.table.body.aim'|trans({}, 'CCDNUserProfileBundle') -}}</td>
					<td class="left">{{- user.getProfile.getAim -}}</td>
				</tr>
				{%- endif -%}

				{%- if user.getProfile.getMsnIsPublic -%}
				<tr class="{{- cycler(['row_odd', 'row_even'], 'cycle') -}}">
					<td class="right">{{- 'profile.table.body.msn'|trans({}, 'CCDNUserProfileBundle') -}}</td>
					<td class="left">{{- user.getProfile.getMsn -}}</td>
				</tr>
				{%- endif -%}

				{%- if user.getProfile.getIcqIsPublic -%}
				<tr class="{{- cycler(['row_odd', 'row_even'], 'cycle') -}}">
					<td class="right">{{- 'profile.table.body.icq'|trans({}, 'CCDNUserProfileBundle') -}}</td>
					<td class="left">{{- user.getProfile.getIcq -}}</td>
				</tr>
				{%- endif -%}

				{%- if user.getProfile.getYahooIsPublic -%}
				<tr class="{{- cycler(['row_odd', 'row_even'], 'cycle') -}}">
					<td class="right">{{- 'profile.table.body.yahoo'|trans({}, 'CCDNUserProfileBundle') -}}</td>
					<td class="left">{{- user.getProfile.getYahoo -}}</td>
				</tr>
				{%- endif -%}
			{%- endif -%}
		</tbody>
	</table>
	
	{%- if user.getProfile.getBio or user.getProfile.getSignature -%}
		<div class="well">
			<span class="common_body">
				{%- if user.getProfile.getBio -%}
					{{- BBCode(user.getProfile.getBio | raw) | raw -}}<br>
				{%- endif -%}

				{%- if user.getProfile.getSignature -%}
					<hr>{{- BBCode(user.getProfile.getSignature | raw) | raw -}}
				{%- endif -%}
			</span>
		</div>
	{%- endif -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}
	
{% endblock body %}