{% extends 'CCDNUserProfileBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_user_profile.profile.show.bio.layout_template %}

{% block title %}{{- truncDot('ccdn_user_profile.title.profile.show' | trans({ '%user_name%': profile.getUsername}, 'CCDNUserProfileBundle'), ccdn_user_profile.seo.title_length) -}}{% endblock %}

{% block sub_title %}
	{{- profile.getProfilePath() |raw -}}
{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	{%- include 'CCDNUserProfileBundle:Profile:item_header.html.twig' -%}

	{%- include 'CCDNUserProfileBundle:Profile:item_tabs.html.twig' -%}

	<article>
		<header class="row-fluid">
			<div class="span9">
				<h3>{{- 'ccdn_user_profile.profile.show.bio' |trans({}, 'CCDNUserProfileBundle') -}}</h3>
			</div>
			{%- if is_granted('ROLE_USER') -%}
				{%- if profile.getUser is not null -%}
					{%- if user.id == app.user.id or is_granted('ROLE_ADMIN') -%}
						<div class="span3 btn-right">
							<a class="btn" href="{{- path('ccdn_user_profile_edit_bio', {'profileId':profile.id}) -}}">
								{{- 'ccdn_user_profile.link.profile.edit' |trans({}, 'CCDNUserProfileBundle') -}}
							</a>
						</div>
					{%- endif -%}
				{%- endif -%}
			{%- endif -%}
		</header>

		<section>
			{%- if profile.getBio -%}
				<blockquote>
					{{- BBCode(profile.getBio | raw, ccdn_user_profile.item_bio.enable_bb_parser) | raw -}}
				</blockqoute>
				<br>
			{%- else -%}	
				{%- if is_granted('ROLE_USER') -%}
					{%- if user.id == app.user.id -%}
						<div class="alert alert-warning">
							{{- 'ccdn_user_profile.profile.show.bio.none.owner' | trans({}, 'CCDNUserProfileBundle') -}}
						</div>
					{%- else -%}
						<div class="lead center">
							<br>
							<h5>{{- 'ccdn_user_profile.profile.show.bio.none' | trans({}, 'CCDNUserProfileBundle') -}}</h5>
						</div>
					{%- endif -%}
				{%- else -%}
					<div class="lead center">
						<br>
						<h5>{{- 'ccdn_user_profile.profile.show.bio.none' | trans({}, 'CCDNUserProfileBundle') -}}</h5>
					</div>
				{%- endif -%}
			{%- endif -%}
		</section>
		
	</article>
	

	<article>
		<header class="row-fluid">
			<div class="span9">
				<h3>{{- 'ccdn_user_profile.profile.show.signature' |trans({}, 'CCDNUserProfileBundle') -}}</h3>
			</div>
			{%- if is_granted('ROLE_USER') -%}
				{%- if profile.getUser is not null -%}
					{%- if profile.getUser.id == app.user.id or is_granted('ROLE_ADMIN') -%}
						<div class="span3 btn-right">
							<a class="btn" href="{{- path('ccdn_user_profile_edit_signature', {'profileId':profile.id}) -}}">
								{{- 'ccdn_user_profile.link.profile.edit' |trans({}, 'CCDNUserProfileBundle') -}}
							</a>
						</div>
					{%- endif -%}
				{%- endif -%}
			{%- endif -%}
		</header>

		<section>
			{%- if profile.getSignature -%}
				<blockquote>
					{{- BBCode(profile.getSignature | raw, ccdn_user_profile.item_signature.enable_bb_parser) | raw -}}
				</blockquote>
				<br>
			{%- else -%}
				{%- if is_granted('ROLE_USER') -%}
					{%- if profile.getUser is not null -%}
						{%- if profile.getUser.id == app.user.id -%}
							<div class="alert alert-warning">
								{{- 'ccdn_user_profile.profile.show.signature.none.owner' | trans({}, 'CCDNUserProfileBundle') -}}
							</div>
						{%- else -%}
							<div class="lead center">
								<br>
								<h5>{{- 'ccdn_user_profile.profile.show.signature.none' | trans({}, 'CCDNUserProfileBundle') -}}</h5>
							</div>
						{%- endif -%}
					{%- endif -%}
				{%- else -%}
					<div class="lead center">
						<br>
						<h5>{{- 'ccdn_user_profile.profile.show.signature.none' | trans({}, 'CCDNUserProfileBundle') -}}</h5>
					</div>
				{%- endif -%}
			{%- endif -%}
		</section>
		
	</article>
	

	{%- endspaceless -%}

{% endblock body_content %}
